.landing {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .landing h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }

  .landing h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .landing p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif=;

  }

#about{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about{
    position: absolute;
    top: 120;
    transform: translate(-50%, -10%);
}

.landing #back1 {
    background-position: center;
    max-height: 597px;
    margin-top: -5px;
    margin-left: -5px;
  }

.img .row #portfolio{
    display: flex;
    max-block-size: 200px;
    display: inline-block;
}
.icons{
    display: inline-block;
}